h3{
    font-size:  25px !important;
   
   
   }
   
   .btn-success:hover{
   background-color: red;
   
   }
   
   canvas{
   border: 1px;
   border-style: dashed;
   animation-name: facial ;
   animation-duration: 6s;
   animation-iteration-count: infinite;
   
   }
   
   @keyframes  facial{
   from{box-shadow: 1px 1px 40px cornflowerblue 
       ;} 
   to{box-shadow: 1px 1px 40px rgb(162, 237, 100) }
   }